<!DOCTYPE html>
<html lang="en" style="border: 3px solid #D10C09; border-radius: 30px; padding: 2%; margin:2%;font-family:arial;text-align: center">
<head>
    <meta charset="UTF-8">
    <meta property="og:url" content="http://newsletter-artistik-rezo-club.com" />
    <title>NewsLetter ARC</title>

</head>

<body>
    <div class="body">
        <a href="http://www.clubartistikrezo.com/"  >
            <img class="logo" src="http://www.clubartistikrezo.com/images/logo.png" width="300" style="margin-bottom:5%; margin-right: -9%;">
        </a>
        {% block content %}{% endblock %}
    </div>
</body>
<footer>
    <a href="https://github.com/jthillar"  >2020 © jthillar</a>
</footer>
</html>