{% extends 'base.html' %}

{% block content %}
<div class="card" style="font-family:arial;font-size:120%;margin-bottom:10%;">
    <p style="text-align: center;margin-bottom:3%">
        {{ description }}
    </p>

    <p>
        <form method=POST action="{{ url_for('unregister') }}">
            <input type="email" name="email" size="35" style="border: 2px solid #D10C09; font-size:100%">
            <button type="submit" class="btn btn-primary btn-block " style="color: #D10C09;border: 2px solid #D10C09; font-size:100%"> OK </button>
        </form>
    </p>
    </div>
{% endblock %}